@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Bebas+Neue&family=Signika:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  position: relative;
}

h2 {
  font-size: 2em;
  font-family: "Signika";
}

h3 {
  font-size: 1.5em;
  font-family: "Signika";
}

h4 {
  font-size: 1em;
  font-family: "Arimo";
}

p {
  font-size: 1em;
  font-family: "Arimo";
}

a {
  font-family: "Arimo";
  font-size: 1em;
}

.small-font {
  font-size: 1em;
}

.container {
  margin-inline: 1em;
}

.navbar {
  background: #ffffff;
  color: black;
}
.navbar .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 1em;
}
.navbar .flex .logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .flex .logo-list .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .flex .logo-list .logo span {
  display: block;
}
.navbar .flex .logo-list .logo span:nth-child(1) {
  color: #1560d0;
  font-size: 0.8em;
  font-weight: 400;
  font-family: "signika", sans-serif;
}
.navbar .flex .logo-list .logo span:nth-child(2) {
  line-height: 1em;
  font-weight: 700;
  font-size: 1.7em;
  font-family: "Signika", sans-serif;
}
.navbar .flex .logo-list .logo img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 0.5em;
  width: 25px;
  height: 25px;
}
.navbar .list-items {
  margin: auto;
  text-align: center;
  display: none;
  padding-left: 1em;
}
.navbar ul li {
  font-weight: 300;
  font-family: "Arimo";
  display: inline-block;
  margin-inline: 1em;
}
.navbar ul li:hover {
  color: #0065ff;
}
.navbar .login {
  display: none;
  font-size: 1.2em;
  font-family: "Arimo";
}
.navbar .login .get-in {
  color: #ffffff;
  padding-block: 1.39em;
  padding-inline: 1em;
  background: #0065ff;
}
.navbar .login a {
  margin-left: 1em;
}

#showcase {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#7145aa), to(#da4eb3));
  background-image: linear-gradient(to right, #7145aa, #da4eb3);
}
#showcase .wave-bg {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 1;
  bottom: 0;
}

.showcase-bg {
  max-width: 1200px;
  margin: auto;
}
.showcase-bg .main-contain {
  margin-inline: 1.5em;
}
.showcase-bg .contain-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contain-1 .hero-1 {
  padding-top: 3em;
  margin: auto;
  text-align: center;
  color: #ffffff;
}
.contain-1 .hero-1 h2 {
  font-weight: 600;
  font-family: "signika", sans-serif;
}
.contain-1 .hero-1 p {
  margin: auto;
  padding-top: 1em;
  font-family: "Arimo", sans-serif;
}
.contain-1 .hero-2 {
  text-align: center;
  color: #ffffff;
  font-family: "Arimo", sans-serif;
  padding-block: 2em;
}
.contain-1 .hero-2 .padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}
.contain-1 .hero-2 .li {
  padding-top: 1em;
}
.contain-1 .hero-2 .li a {
  font-family: "Arimo";
}
.contain-1 .hero-2 .li i {
  margin-left: 0.7em;
}
.contain-1 .hero-2 .textarea-top {
  display: none;
}
.contain-1 .hero-2 .textarea-top textarea {
  padding: 1em 7em 0em 0.5em;
  outline: none;
  resize: none;
  border-radius: 5px;
  font-size: 1em;
  font-family: "Arimo";
}
.contain-1 .hero-2 .sign-btn {
  max-width: 100%;
  padding-block: 1em;
  padding-inline: auto;
  font-family: "Arimo";
  background: #0065ff;
  border-radius: 7px;
  text-align: center;
  font-weight: 300;
  font-family: "Arimo";
}
.contain-1 .hero-2 .sign-btn a {
  width: auto;
}

.contain-2 {
  margin: auto;
}
.contain-2 img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: auto;
  top: 50px;
  z-index: 2;
}

.note-area-color {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5fdff));
  background: linear-gradient(to bottom, #ffffff, #f5fdff);
}

.note-area {
  margin-inline: 1em;
  padding-top: 3em;
}
.note-area .notes-head span {
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}
.note-area .notes-head h3 {
  line-height: 1em;
  padding-block: 0.5em;
  font-family: "signika", sans-serif;
}
.note-area .notes-head p {
  padding-bottom: 1rem;
  line-height: 1.3em;
  font-weight: 400;
  font-family: "Arimo", "sans-serif";
}
.note-area .notes-head p span {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.note-area .notes-head a {
  list-style: decimal-leading-zero;
  color: #1560d0;
}
.note-area .notes-flex {
  margin: 2em 1em;
}
.note-area .notes-border-1 .notes-flex-2, .note-area .notes-border-1 .notes-flex-3, .note-area .notes-border-1 .notes-flex-4 {
  background: #ffffff;
  padding-block: 2em;
  margin-block: 1em;
  border-left: 10px solid #92dbee;
  border: 2px 2px 2px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  margin-inline: auto;
}
.note-area .notes-border-1 .notes-flex-2 h4, .note-area .notes-border-1 .notes-flex-3 h4, .note-area .notes-border-1 .notes-flex-4 h4 {
  margin: 0 0 0.5em 1em;
}
.note-area .notes-border-1 .notes-flex-2 p, .note-area .notes-border-1 .notes-flex-3 p, .note-area .notes-border-1 .notes-flex-4 p {
  margin-left: 1em;
}
.note-area .notes-border-1 .notes-flex-3, .note-area .notes-border-1 .notes-flex-4 {
  display: none;
}

.swiper-wrapper > div {
  margin-inline: 1em;
}

.swiper-slide > div {
  margin-inline: 1em;
}

.slider .slider-head {
  margin-block: 1em;
}
.slider .slider-head span {
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}
.slider .slider-head h3 {
  padding-block: 0.5em;
  font-weight: 400;
  font-family: "signika", sans-serif;
}
.slider .swiper {
  width: 100%;
  height: 100%;
}

.slider-flex-1, .slider-flex-2, .slider-flex-3, .slider-flex-4, .slider-flex-5, .slider-flex-6 {
  -webkit-box-shadow: 1px 1px 1px 2px rgb(156, 141, 141);
          box-shadow: 1px 1px 1px 2px rgb(156, 141, 141);
  border-radius: 10px;
  margin-bottom: 1em;
}
.slider-flex-1:hover, .slider-flex-2:hover, .slider-flex-3:hover, .slider-flex-4:hover, .slider-flex-5:hover, .slider-flex-6:hover {
  -webkit-box-shadow: 2px 2px 2px 4px rgb(194, 182, 182);
          box-shadow: 2px 2px 2px 4px rgb(194, 182, 182);
}

.slider-flex-1 .background-1 {
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(#7145aa), to(#da4eb3));
  background: linear-gradient(to right, #7145aa, #da4eb3);
  border-radius: 8px;
}
.slider-flex-1 .slider-1-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-1 .slider-1-2 h4 {
  padding-block: 0.5em;
  font-family: "signika", sans-serif;
}
.slider-flex-1 .slider-1-2 span {
  margin-bottom: 0.5em;
  font-weight: 400;
  font-family: "signika", sans-serif;
}
.slider-flex-1 .slider-1-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arima", "sans-serif";
}

.slider-flex-2 .background-2 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(213, 183, 183)), to(rgb(242, 22, 22)));
  background: linear-gradient(to right, rgb(213, 183, 183), rgb(242, 22, 22));
}
.slider-flex-2 .slider-2-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-2 .slider-2-2 h4 {
  padding-block: 0.5em;
  font-weight: 700;
  font-family: "signika", sans-serif;
}
.slider-flex-2 .slider-2-2 span {
  padding-bottom: 0.5em;
  font-family: "signika", sans-serif;
}
.slider-flex-2 .slider-2-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arima", "sans-serif";
}

.slider-flex-3 .background-3 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(85, 82, 82)), to(rgb(149, 149, 30)));
  background: linear-gradient(to right, rgb(85, 82, 82), rgb(149, 149, 30));
}
.slider-flex-3 .slider-3-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-3 .slider-3-2 h4 {
  padding-block: 0.5em;
  font-weight: 700;
  font-family: "signika", sans-serif;
}
.slider-flex-3 .slider-3-2 span {
  font-weight: 400;
  font-family: "signika", sans-serif;
}
.slider-flex-3 .slider-3-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arima", "sans-serif";
}

.slider-flex-4 .background-4 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(147, 74, 74)), to(rgb(120, 217, 114)));
  background: linear-gradient(to right, rgb(147, 74, 74), rgb(120, 217, 114));
}
.slider-flex-4 .slider-4-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-4 .slider-4-2 h4 {
  padding-block: 0.5em;
  font-family: "signika", sans-serif;
}
.slider-flex-4 .slider-4-2 span {
  font-family: "signika", sans-serif;
}
.slider-flex-4 .slider-4-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arima", "sans-serif";
}

.slider-flex-5 .background-5 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(73, 51, 199)), to(rgb(81, 25, 25)));
  background: linear-gradient(to right, rgb(73, 51, 199), rgb(81, 25, 25));
}
.slider-flex-5 .slider-5-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-5 .slider-5-2 h4 {
  padding-block: 0.5em;
  font-weight: 700;
  font-family: "signika", sans-serif;
}
.slider-flex-5 .slider-5-2 span {
  font-weight: 400;
  font-family: "signika", sans-serif;
}
.slider-flex-5 .slider-5-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arima", "sans-serif";
}

.slider-flex-6 .background-6 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(32, 187, 21)), to(rgb(128, 49, 207)));
  background: linear-gradient(to right, rgb(32, 187, 21), rgb(128, 49, 207));
}
.slider-flex-6 .slider-6-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-6 .slider-6-2 p {
  padding-block: 1em;
  font-family: "Arima", "sans-serif";
}
.slider-flex-6 .slider-6-2 span {
  font-family: "signika", sans-serif;
}
.slider-flex-6 .slider-6-2 h4 {
  font-family: "signika", sans-serif;
  padding-block: 0.5em;
  font-weight: 700;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.bottom-swiper-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 2em;
  margin-inline: 1em;
}
.bottom-swiper-flex .swiper-note p {
  margin-bottom: 1em;
  max-width: 700px;
  font-weight: 500;
  font-family: "Arima", sans-serif;
}
.bottom-swiper-flex .swiper-btn {
  margin-right: auto;
}
.bottom-swiper-flex .swiper-btn a button {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(44, 44, 206);
  padding: 1em;
  font-weight: 400;
  font-family: "Arima", "sans-serif";
}
.bottom-swiper-flex .swiper-btn a button:hover {
  background: rgb(186, 212, 228);
}

.trello-view .trello-color {
  background: -webkit-gradient(linear, left top, right top, from(#0079f6), to(#00b6da));
  background: linear-gradient(to right, #0079f6, #00b6da);
}
.trello-view .border-img {
  display: none;
  width: 50px;
}
.trello-view .head-trello {
  text-align: center;
  padding-block: 2em;
  margin-inline: 1em;
}
.trello-view .head-trello h2 {
  font-family: "Arimo";
}
.trello-view .head-trello p {
  padding-block: 1em;
  font-family: "Arima", "sans-serif";
}
.trello-view .head-trello button {
  margin-top: 1em;
  font-size: 1em;
  font-family: "Arimo";
  background: #ffffff;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid rgb(44, 44, 206);
}
.trello-view .head-trello button:hover {
  background: rgb(157, 198, 223);
}
.trello-view .dead-line-flex-1, .trello-view .dead-line-flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.trello-view .dead-line {
  margin-inline: 1em;
}
.trello-view .dead-line .dead-line-flex-1, .trello-view .dead-line .dead-line-flex-2 {
  -webkit-box-shadow: 2px 2px 2px 2px grey;
          box-shadow: 2px 2px 2px 2px grey;
  border-radius: 5px;
  background: #ffffff;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.trello-view .dead-line .dead-line-flex-1 .dead-img, .trello-view .dead-line .dead-line-flex-2 .dead-img {
  width: 100%;
  margin-bottom: 1.5em;
}
.trello-view .dead-line .dead-line-flex-1 .dead-para h5, .trello-view .dead-line .dead-line-flex-2 .dead-para h5 {
  font-family: "Arimo";
  margin-bottom: 1em;
}
.trello-view .dead-line .dead-line-flex-1 .dead-para p, .trello-view .dead-line .dead-line-flex-2 .dead-para p {
  font-weight: 400;
  font-family: "Arimo";
  line-height: 1.2em;
  margin-bottom: 1.5em;
}
.trello-view .dead-line .dead-line-flex-1 .dead-para a, .trello-view .dead-line .dead-line-flex-2 .dead-para a {
  color: #0079f6;
  -webkit-text-decoration: underline 2px solid #0079f6;
          text-decoration: underline 2px solid #0079f6;
}
.trello-view .dead-line .dead-line-flex-2 {
  position: relative;
  width: 100%;
  height: auto;
  top: 100px;
  z-index: 2;
}
.trello-view .dead-line .wave-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
}

.showcase-trello-3 {
  background: #ffffff;
  margin-inline: 1em;
}
.showcase-trello-3 .heading-showcase {
  padding-block: 1em;
}
.showcase-trello-3 .heading-showcase h5 {
  margin: 1em 0 0.5em 0;
  font-size: 1em;
  font-family: "Arimo", "sans-serif";
}
.showcase-trello-3 .heading-showcase h3 {
  padding-bottom: 0.7em;
  font-size: 1.7em;
  font-family: "Signika";
}
.showcase-trello-3 .heading-showcase p {
  max-width: 600px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Arimo";
}
.showcase-trello-3 .showcase-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}
.showcase-trello-3 .showcase-flex .showcase-flex-1, .showcase-trello-3 .showcase-flex .showcase-flex-2, .showcase-trello-3 .showcase-flex .showcase-flex-3 {
  background: #edeff0;
  padding: 1em;
  border-radius: 4px;
}
.showcase-trello-3 .showcase-flex .showcase-flex-1 img, .showcase-trello-3 .showcase-flex .showcase-flex-2 img, .showcase-trello-3 .showcase-flex .showcase-flex-3 img {
  padding-bottom: 1em;
  width: 100px;
}
.showcase-trello-3 .showcase-flex .showcase-flex-1 h5, .showcase-trello-3 .showcase-flex .showcase-flex-2 h5, .showcase-trello-3 .showcase-flex .showcase-flex-3 h5 {
  padding-bottom: 0.6em;
  font-family: "Signika";
}
.showcase-trello-3 .showcase-flex .showcase-flex-1 p, .showcase-trello-3 .showcase-flex .showcase-flex-2 p, .showcase-trello-3 .showcase-flex .showcase-flex-3 p {
  margin-bottom: 1em;
  font-family: "Arimo";
}
.showcase-trello-3 .showcase-flex .showcase-flex-1 button, .showcase-trello-3 .showcase-flex .showcase-flex-2 button, .showcase-trello-3 .showcase-flex .showcase-flex-3 button {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(44, 44, 206);
  padding: 1em;
  font-weight: 400;
  font-family: "Arima", "sans-serif";
}
.showcase-trello-3 .showcase-flex .showcase-flex-1 button:hover, .showcase-trello-3 .showcase-flex .showcase-flex-2 button:hover, .showcase-trello-3 .showcase-flex .showcase-flex-3 button:hover {
  background: rgb(118, 191, 236);
}

.swiper-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(#ebfcff), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff, #ebfcff, #ffffff);
  margin-inline: auto;
}
.swiper-3 .swiper-4 {
  margin-inline: 1em;
  margin-block: 2em;
}
.swiper-3 .swiper-4 .swiper-slide-1 > div {
  margin-inline: 1em;
  border: 2px solid rgba(128, 128, 128, 0.6);
  border-radius: 10px;
}
.swiper-3 .swiper-4 .swiper-slide-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 {
  padding-inline: 1em;
}
.swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 h6 {
  padding-block: 1em;
  font-family: "Signika";
  font-size: 1.3em;
}
.swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 span {
  width: 30%;
  font-size: 0.8em;
}
.swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 img {
  padding-top: 1em;
  width: 150px;
  margin: auto;
}
.swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 a {
  line-height: 4em;
  color: #0079f6;
  -webkit-text-decoration: underline 2px solid #0079f6;
          text-decoration: underline 2px solid #0079f6;
}
.swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-2 {
  background: -webkit-gradient(linear, left top, right top, from(#7a5ec4), to(#e793d8));
  background: linear-gradient(to right, #7a5ec4, #e793d8);
  color: #ffffff;
  padding: 1em;
  border-radius: 5px;
}
.swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-2 h6 {
  padding-top: 1em;
  font-size: 1.3em;
  font-family: "Signika";
}
.swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-2 a {
  line-height: 3em;
  font-family: "Arimo";
}
.swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-2 .padding {
  padding-bottom: 3.5em;
}
.swiper-3 .swiper-foot {
  text-align: center;
  padding-inline: 1em;
}
.swiper-3 .swiper-foot h2 {
  font-family: "Arimo";
  font-size: 1.5em;
  padding-block: 1em;
}
.swiper-3 .swiper-foot p {
  padding-bottom: 1em;
  font-family: "Arimo";
  font-size: 1.2em;
}
.swiper-3 .swiper-foot button {
  border: 0.1px solid #0065ff;
  font-size: 1em;
  border-radius: 7px;
  font-family: "Arimo";
  padding: 1em;
  background: #0065ff;
  color: #ffffff;
}
.swiper-3 .swiper-foot button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
  background: rgb(103, 103, 239);
}

.plans {
  padding-block: 2em;
}
.plans .plans-flex > div {
  border: 1px solid rgb(206, 200, 200);
  padding: 1em 1em;
  background: #ffffff;
  border-radius: 4px;
  margin-block: 1em;
}
.plans .plans-flex {
  margin: auto;
  overflow-x: hidden;
  margin-inline: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.plans .plans-flex .plan-3 {
  border: 2px solid rgb(21, 216, 255);
}
.plans .plans-flex .plan-1 {
  padding-bottom: 3em;
}
.plans .plans-flex .head {
  padding-block: 1em;
  font-size: 1em;
  font-family: "Arimo";
}
.plans .plans-flex .plan-span {
  padding-bottom: 0.5em;
  font-size: 1em;
  font-family: "Arimo";
}
.plans .plans-flex .span {
  font-family: "Arimo";
  font-size: 2em;
}
.plans .plans-flex .plan-small {
  margin-bottom: 1em;
  font-size: 0.8em;
  font-family: "Arimo";
}
.plans .plans-flex .plan-para {
  font-weight: 600;
  font-size: 1.2em;
  font-family: "Arimo";
  padding-bottom: 2em;
}
.plans .plans-flex .plan-btn {
  padding-block: 1em;
  border: 1px solid #0065ff;
  padding: 0.8em;
  border-radius: 5px;
  width: 100px;
  min-width: 40%;
  max-width: 100%;
}
.plans .plans-flex .plan-btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #bcc9dc;
}
.plans .plans-flex .plan-line p {
  padding-block: 2em;
  -webkit-text-decoration: underline 2px solid #0079f6;
          text-decoration: underline 2px solid #0079f6;
}

.swiper-company {
  margin-inline: 1em;
  padding-bottom: 2em;
  background: #ffffff;
  text-align: center;
}
.swiper-company h3 {
  font-weight: 600;
  font-family: "Arimo";
  font-size: 1.3em;
  padding-bottom: 1em;
}

.mobile-view {
  display: content;
  max-width: 300px;
}

.moniter-view {
  display: none;
}

.swiper-last {
  background: -webkit-gradient(linear, left top, right top, from(#6f3eed), to(#a28d9f));
  background: linear-gradient(to right, #6f3eed, #a28d9f);
  padding-block: 2em;
  text-align: center;
}
.swiper-last img {
  display: none;
}
.swiper-last:nth-child(1) {
  width: 50px;
}
.swiper-last:nth-child(2) {
  width: 50px;
}
.swiper-last h3 {
  font-family: "Arimo";
  color: #ffffff;
}
.swiper-last .btn-container {
  max-width: 700px;
  margin-inline: auto;
  margin-top: 2em;
  gap: 1em;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-last .btn-container .textarea {
  display: none;
}
.swiper-last .btn-container .textarea textarea {
  width: 100%;
  border-radius: 5px;
  padding: 1.7em 14em 0.5em 0.5em;
  outline: none;
  resize: none;
}
.swiper-last .btn-foot-1 {
  text-align: center;
  margin-inline: 1em;
  background: #0065ff;
  padding-block: 1em;
  border-radius: 5px;
  font-family: "Arimo";
}
.swiper-last .btn-foot-1 .btn-foot-1-1 {
  color: #ffffff;
  font-size: 1em;
  padding: 0em 1em 2em;
  font-family: "Arimo";
  margin-inline: auto;
}

.footer {
  padding-inline: 1em;
  background: #172b4d;
  color: #ffffff;
  padding-block: 1em;
}
.footer .footer-flex-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-flex-1 .footer-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
  gap: 0.5em;
}
.footer .footer-flex-1 .footer-1 .img {
  margin-top: 1em;
  width: 30px;
  height: 30px;
}
.footer .footer-flex-1 .footer-1 span {
  display: block;
}
.footer .footer-flex-1 .footer-1 .signika {
  font-weight: 400;
  font-size: 1em;
  font-family: "Arimo";
}
.footer .footer-flex-1 .footer-1 .arimo {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Signika";
}
.footer .footer-flex-1 > div ul li {
  border-block: 1px solid rgba(128, 128, 128, 0.5);
  padding-block: 0.5em;
  margin-block: 1em;
}
.footer .footer-flex-1 > div h3 {
  margin-block: 0.4em;
  font-size: 0.99em;
  font-family: "Arimo";
}
.footer .footer-flex-1 > div p {
  font-weight: 400;
  font-size: 0.8em;
  padding-block: 0.5em;
}
.footer .footer-flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-flex-2 .footer-flex-2-1 {
  margin-block: 1em;
}
.footer .footer-flex-2 .footer-flex-2-1 p {
  margin-block: 1em;
  font-size: 1em;
  font-family: "Arimo";
}
.footer .footer-flex-2 .footer-flex-2-1 i {
  margin-right: 1em;
}
.footer .footer-flex-2 .footer-flex-2-3 {
  margin-block: 1em;
}
.footer .footer-flex-2 .footer-flex-2-3 ul li {
  margin-block: 1em;
  font-family: "Arimo";
  font-size: 1em;
}
.footer .footer-flex-2 .footer-flex-2-2 {
  margin-bottom: 1em;
}
.footer .footer-flex-2 .footer-flex-2-2 i {
  border: 2px solid;
  padding: 0.3em;
  border-radius: 50px;
  -webkit-margin-end: 1em;
          margin-inline-end: 1em;
}
.footer .end-footer {
  text-align: center;
}
.footer .end-footer h3 {
  font-size: 1.5em;
  font-family: "Signika";
}

@media (min-width: 568px) {
  .swiper-wrapper > div {
    max-width: 400px;
    max-height: 400px;
  }
  .dead-line > div {
    max-width: 500px;
    margin: auto;
  }
  .showcase-flex > div {
    max-width: 500px;
    margin: auto;
  }
  .swiper-slide-1 {
    max-width: 530px;
    margin-inline: auto;
  }
  .heading-showcase, .contain-1, .notes-head, .notes-flex, .slider-head, .bottom-swiper-flex, .plans, .swiper-company, .swiper-last h2, .btn-foot, .footer-flex-1, .footer-flex-2 {
    max-width: 500px;
    margin: auto;
  }
  .trello-view .head-trello {
    max-width: 500px;
    margin-inline: auto;
  }
  .note-area {
    max-width: 500px;
    margin-inline: auto;
    padding-bottom: 2em;
  }
  .note-area .notes-head {
    margin-inline: 1em;
    width: 700px;
  }
  .note-area .notes-flex {
    max-width: 700px;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.5em;
    font-family: "Signika";
  }
  h3 {
    font-size: 1.7em;
    font-family: "Signika";
  }
  h4 {
    font-size: 1.3em;
    font-family: "Arimo";
  }
  p {
    font-size: 1.3em;
    font-family: "Arimo";
  }
  a {
    font-family: "Arimo";
    font-size: 1em;
  }
  .small-font {
    font-size: 1em;
  }
  .contain-1 .hero-1 h2 {
    width: 600px;
    margin: auto;
  }
  .heading-showcase, .contain-1, .slider-head, .bottom-swiper-flex, .plans, .swiper-company, .swiper-last h2, .footer-flex-1, .footer-flex-2 {
    max-width: 700px;
    margin: auto;
  }
  .swiper-wrapper > div {
    max-width: 600px;
    max-height: 300px;
  }
  .trello-view .head-trello {
    max-width: 700px;
    margin-inline: auto;
  }
  .dead-line > div {
    max-width: 700px;
    margin: auto;
  }
  .showcase-flex > div {
    max-width: 300px;
    margin: auto;
  }
  .note-area {
    max-width: 700px;
    margin-inline: auto;
    padding-bottom: 2em;
  }
  .note-area .notes-head {
    margin-inline: 1em;
    width: 700px;
  }
  .note-area .notes-flex {
    max-width: 700px;
  }
  .swiper-slide-1 {
    max-width: 480px;
    margin-inline: auto;
    padding-block: 2em;
  }
  .showcase-flex {
    max-width: 700px;
    margin: auto;
  }
  .mobile-view {
    max-width: 300px;
    display: none;
  }
  .moniter-view {
    padding-block: 1em;
    display: inline;
  }
  .swiper-last .btn-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .swiper-last .btn-container .textarea {
    display: inline;
  }
  .contain-1 .hero-2 .sign-btn {
    padding-inline: 2em;
  }
  .contain-1 .hero-2 .padding {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contain-1 .hero-2 .textarea-top {
    display: inline;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 3em;
    font-family: "Signika";
  }
  h3 {
    font-size: 2em;
    font-family: "Signika";
  }
  h4 {
    font-size: 1.5em;
    font-family: "Arimo";
  }
  p {
    font-size: 1.5em;
    font-family: "Arimo";
  }
  a {
    font-family: "Arimo";
    font-size: 1em;
  }
  .small-font {
    font-size: 1em;
  }
  .swiper-wrapper > div {
    max-width: 430px;
    max-height: auto;
    margin-inline: 0.5em;
    scroll-behavior: auto;
    overflow: hidden;
  }
  .contain-1 {
    max-width: 500px;
  }
  .contain-1 .hero-1 {
    padding-top: 0em;
    text-align: start;
  }
  .contain-1 .hero-1 h2 {
    text-align: start;
  }
  .contain-1 .hero-1 p {
    padding-top: 0em;
    text-align: start;
  }
  .contain-1 .hero-2 .padding {
    gap: 0em;
  }
  .contain-1 .hero-2 .sign-btn {
    margin-inline: auto;
  }
  .contain-1 .hero-2 .textarea-top {
    margin-right: auto;
  }
  .contain-1 .hero-2 .textarea-top textarea {
    padding: 1em 3em 0em 0.5em;
  }
  .contain-1 .hero-2 .li {
    text-align: start;
  }
  .contain-1 .hero-2 .li a {
    font-family: "Arimo";
    font-size: 1em;
    -webkit-text-decoration: underline 2px solid rgb(225, 209, 209);
            text-decoration: underline 2px solid rgb(225, 209, 209);
    color: rgb(225, 209, 209);
  }
  .navbar .list-items {
    display: inline;
  }
  .navbar .login {
    display: inline;
  }
  .contain-2 img {
    bottom: 20px;
  }
  #showcase .wave-bg {
    height: 50px;
  }
  .showcase-bg .contain-flex {
    padding-block: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .note-area {
    max-width: 1200px;
    margin-inline: auto;
  }
  .note-area .notes-head {
    width: 700px;
    margin-inline: 1em;
  }
  .note-area .notes-flex {
    max-width: 1200px;
    padding-inline: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0em;
    width: 100%;
  }
  .note-area .notes-flex .notes-flex-1 {
    width: 60%;
    margin: auto;
  }
  .note-area .notes-flex .notes-border-1 {
    width: 35%;
    height: 15%;
    margin: 0em;
  }
  .note-area .notes-flex .notes-border-1 h4 {
    font-family: "Arimo";
    margin-left: 1em;
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  .note-area .notes-flex .notes-border-1 p {
    font-family: "Arimo";
    margin-left: 1em;
    font-size: 1em;
  }
  .note-area .notes-flex .notes-border-1 .notes-flex-3, .note-area .notes-flex .notes-border-1 .notes-flex-4 {
    display: block;
  }
  .slider-head {
    max-width: 1200px;
    margin-inline: auto;
  }
  .bottom-swiper-flex {
    max-width: 1200px;
    margin-inline: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bottom-swiper-flex .swiper-note p {
    font-size: 1.3em;
    font-family: "Arimo";
  }
  .bottom-swiper-flex .swiper-btn {
    margin-left: auto;
    margin-right: 0;
    font-family: "Arimo";
  }
  .trello-view {
    margin-inline: auto;
  }
  .trello-view .dead-line .dead-line-flex-1, .trello-view .dead-line .dead-line-flex-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .trello-view .dead-line .dead-line-flex-1 .dead-img, .trello-view .dead-line .dead-line-flex-2 .dead-img {
    margin-bottom: 0.5em;
  }
  .trello-view .dead-line .dead-line-flex-1 {
    max-width: 900px;
  }
  .trello-view .dead-line .dead-line-flex-1 .dead-img {
    width: 60%;
    margin-block: auto;
  }
  .trello-view .dead-line .dead-line-flex-1 .dead-para {
    width: 40%;
    margin-left: 1em;
    margin-block: auto;
  }
  .trello-view .dead-line .dead-line-flex-1 .dead-para h5 {
    font-size: 1.1em;
    margin-bottom: 1.3em;
  }
  .trello-view .dead-line .dead-line-flex-1 .dead-para p {
    line-height: 1.4em;
    font-size: 1.1em;
    margin-block: 1.3em;
  }
  .trello-view .dead-line .dead-line-flex-1 .dead-para a {
    font-size: 1.1em;
  }
  .trello-view .dead-line .dead-line-flex-2 {
    max-width: 900px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: auto;
  }
  .trello-view .dead-line .dead-line-flex-2 .dead-img {
    margin-block: auto;
    width: 70%;
  }
  .trello-view .dead-line .dead-line-flex-2 .dead-para {
    margin-right: 1em;
    width: 40%;
    margin-block: auto;
  }
  .trello-view .dead-line .dead-line-flex-2 .dead-para h5 {
    font-size: 1.1em;
    margin-bottom: 1.3em;
  }
  .trello-view .dead-line .dead-line-flex-2 .dead-para p {
    line-height: 1.5em;
    font-size: 1.1em;
    margin-block: 1.3em;
  }
  .trello-view .dead-line .dead-line-flex-2 .dead-para a {
    font-size: 1.1em;
  }
  .trello-view .head-trello {
    max-width: 1200px;
    margin-inline: auto;
  }
  .trello-view .head-trello p {
    width: 70%;
    margin-inline: auto;
  }
  .showcase-trello-3 {
    max-width: 1200px;
    margin-inline: auto;
  }
  .showcase-trello-3 .showcase-flex {
    max-width: 1200px;
    margin-inline: 1em;
    width: auto;
    height: auto;
  }
  .showcase-trello-3 .showcase-flex .showcase-flex-1 {
    padding-block: 1.2em;
  }
  .showcase-trello-3 .showcase-flex .showcase-flex-3 {
    padding-block: 1.5em;
  }
  .showcase-trello-3 .showcase-flex > div {
    min-width: 385px;
  }
  .showcase-trello-3 .heading-showcase {
    max-width: 1200px;
    margin-inline: 1em;
  }
  .showcase-trello-3 .showcase-flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .plans {
    max-width: 1200px;
  }
  .plans .plans-flex > div {
    min-width: 290px;
  }
  .plans .plans-flex > div .plan-small {
    margin-block: 1em;
    font-weight: 100;
  }
  .plans .plans-flex > div .plan-para {
    font-weight: 300;
    font-family: "Arimo";
    font-size: 1em;
    margin-right: 0;
  }
  .plans .plans-flex > div .plan-line p {
    margin-top: auto;
    color: #0065ff;
    font-size: 1em;
    -webkit-text-decoration: 1px solid underline;
            text-decoration: 1px solid underline;
  }
  .plans .plans-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .plans .plans-flex .plan-1 .plan-para {
    margin-bottom: 5em;
  }
  .plans .plans-flex .plan-2 .plan-para {
    margin-bottom: 3.5em;
  }
  .plans .plans-flex .plan-3 .plan-para {
    margin-bottom: 2.5em;
  }
  .plans .plans-flex .plan-4 .plan-para {
    margin-bottom: 3.8em;
  }
  .swiper-3 .swiper-4 .swiper-slide-1 {
    max-width: 1200px;
    margin-inline: auto;
  }
  .swiper-3 .swiper-4 .swiper-slide-border {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 {
    width: 60%;
    margin-inline: auto;
  }
  .swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 h6 {
    font-family: "Arimo";
    line-height: 1.4em;
    font-weight: 500;
    width: 600px;
    padding-bottom: 3em;
  }
  .swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 span {
    line-height: 2em;
  }
  .swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 img {
    width: 100px;
  }
  .swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-1 a {
    display: none;
  }
  .swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-2 {
    width: 40%;
    margin-inline: auto;
    margin-left: auto;
  }
  .swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-2 h6 {
    width: 80%;
    font-size: 2em;
    font-family: "Arimo";
    margin-bottom: 3em;
  }
  .swiper-3 .swiper-4 .swiper-slide-border .swiper-flex-2 .padding {
    border: 2px solid blue;
    padding-bottom: 0.2;
    margin-block: auto;
  }
  .swiper-company {
    max-width: 800px;
  }
  .footer {
    margin: auto;
  }
  .footer .footer-flex-1 {
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer-flex-1 > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 200px;
  }
  .footer .footer-flex-1 > div ul li {
    border-block: none;
  }
  .footer .footer-flex-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-flex-2 .footer-flex-2-3 ul li {
    margin-inline: 1em;
    display: inline-block;
  }
}