@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Bebas+Neue&family=Signika:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1em;
}

.navbar {
  background: #ffffff;
  color: black;
}
.navbar .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 1em;
}
.navbar .flex .logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .flex .logo-list .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .flex .logo-list .logo span {
  display: block;
}
.navbar .flex .logo-list .logo span:nth-child(1) {
  color: #1560d0;
  font-size: 0.8em;
  font-weight: 400;
  font-family: "signika", sans-serif;
}
.navbar .flex .logo-list .logo span:nth-child(2) {
  line-height: 1em;
  font-weight: 700;
  font-size: 1.7em;
  font-family: "Signika", sans-serif;
}
.navbar .flex .logo-list .logo img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 0.5em;
  width: 25px;
  height: 25px;
}
.navbar ul li {
  display: inline-block;
  display: none;
}
.navbar .login {
  display: none;
}

.showcase-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#7145aa), to(#da4eb3));
  background-image: linear-gradient(to right, #7145aa, #da4eb3);
}
.showcase-bg .main-contain {
  margin-inline: 1.5em;
  max-width: 1200px;
}

.hero-1 {
  padding-top: 3em;
  margin: auto;
  text-align: center;
  color: #ffffff;
}

.hero-1 h2 {
  font-weight: 600;
  font-family: "signika", sans-serif;
}

.hero-1 p {
  margin: auto;
  padding-top: 1em;
  font-family: "Arimo", sans-serif;
}

.hero-2 {
  text-align: center;
  color: #ffffff;
  font-family: "Arimo", sans-serif;
  padding-block: 2em;
}

.hero-2 ul li:nth-child(1) {
  display: none;
}
.hero-2 ul li:nth-child(2) {
  border-radius: 5px;
  background: #0065ff;
  padding: 1em;
  font-weight: 500;
}
.hero-2 ul li:nth-child(3) {
  padding-block: 1em;
}
.hero-2 ul li:nth-child(3) .fa-thin {
  margin-left: 0.5em;
}

.contain-2 {
  background-image: url(image/white-wave-bg.svg);
}

.contain-2 img:nth-child(1) {
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.note-area {
  padding-top: 5em;
}
.note-area .notes-head span {
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}
.note-area .notes-head h2 {
  padding-block: 0.5em;
  font-weight: 400;
  font-family: "signika", sans-serif;
}
.note-area .notes-head p {
  padding-bottom: 1rem;
  font-weight: 400;
  font-family: "Arimo", "sans-serif";
}
.note-area .notes-head a {
  list-style: decimal-leading-zero;
  color: #1560d0;
}

.slider .slider-head span {
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}
.slider .slider-head h2 {
  padding-block: 0.5em;
  font-weight: 400;
  font-family: "signika", sans-serif;
}
.slider .swiper {
  width: 100%;
  height: 100%;
}
.slider .swiper-slide {
  -webkit-box-shadow: 1px 1px 1px 2px rgb(156, 141, 141);
          box-shadow: 1px 1px 1px 2px rgb(156, 141, 141);
  border-radius: 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .swiper-slide:hover {
  -webkit-box-shadow: 2px 2px 2px 4px rgb(194, 182, 182);
          box-shadow: 2px 2px 2px 4px rgb(194, 182, 182);
}

.slider-flex-1 .background-1 {
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(#7145aa), to(#da4eb3));
  background: linear-gradient(to right, #7145aa, #da4eb3);
  border-radius: 8px;
}
.slider-flex-1 .slider-1-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-1 .slider-1-2 h4 {
  padding-block: 0.5em;
  font-style: "signika", sans-serif;
}
.slider-flex-1 .slider-1-2 span {
  margin-bottom: 0.5em;
  font-weight: 400;
  font-style: "signika", sans-serif;
}
.slider-flex-1 .slider-1-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arimo", "sans-serif";
}

.slider-flex-2 .background-2 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(213, 183, 183)), to(rgb(242, 22, 22)));
  background: linear-gradient(to right, rgb(213, 183, 183), rgb(242, 22, 22));
}
.slider-flex-2 .slider-2-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-2 .slider-2-2 h4 {
  padding-block: 0.5em;
  font-weight: 700;
  font-style: "signika", sans-serif;
}
.slider-flex-2 .slider-2-2 span {
  padding-bottom: 0.5em;
  font-style: "signika", sans-serif;
}
.slider-flex-2 .slider-2-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arimo", "sans-serif";
}

.slider-flex-3 .background-3 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(85, 82, 82)), to(rgb(149, 149, 30)));
  background: linear-gradient(to right, rgb(85, 82, 82), rgb(149, 149, 30));
}
.slider-flex-3 .slider-3-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-3 .slider-3-2 h4 {
  padding-block: 0.5em;
  font-weight: 700;
  font-style: "signika", sans-serif;
}
.slider-flex-3 .slider-3-2 span {
  font-weight: 400;
  font-style: "signika", sans-serif;
}
.slider-flex-3 .slider-3-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arimo", "sans-serif";
}

.slider-flex-4 .background-4 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(147, 74, 74)), to(rgb(120, 217, 114)));
  background: linear-gradient(to right, rgb(147, 74, 74), rgb(120, 217, 114));
}
.slider-flex-4 .slider-4-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-4 .slider-4-2 h4 {
  padding-block: 0.5em;
  font-style: "signika", sans-serif;
}
.slider-flex-4 .slider-4-2 span {
  font-style: "signika", sans-serif;
}
.slider-flex-4 .slider-4-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arimo", "sans-serif";
}

.slider-flex-5 .background-5 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(73, 51, 199)), to(rgb(81, 25, 25)));
  background: linear-gradient(to right, rgb(73, 51, 199), rgb(81, 25, 25));
}
.slider-flex-5 .slider-5-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-5 .slider-5-2 h4 {
  padding-block: 0.5em;
  font-weight: 700;
  font-style: "signika", sans-serif;
}
.slider-flex-5 .slider-5-2 span {
  font-weight: 400;
  font-style: "signika", sans-serif;
}
.slider-flex-5 .slider-5-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arimo", "sans-serif";
}

.slider-flex-6 .background-6 {
  border-radius: 8px;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(32, 187, 21)), to(rgb(128, 49, 207)));
  background: linear-gradient(to right, rgb(32, 187, 21), rgb(128, 49, 207));
}
.slider-flex-6 .slider-6-1 img {
  margin-top: 0.5em;
  width: 35px;
  height: 35px;
}
.slider-flex-6 .slider-6-2 p {
  padding-block: 1em;
  font-weight: 400;
  font-family: "Arimo", "sans-serif";
}
.slider-flex-6 .slider-6-2 span {
  font-weight: 400;
  font-style: "signika", sans-serif;
}
.slider-flex-6 .slider-6-2 h4 {
  padding-block: 0.5em;
  font-weight: 700;
  font-style: "signika", sans-serif;
}

.swiper-slide img {
  display: table-row;
  width: 100%;
  height: 100%;
}