// @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Bebas+Neue&family=Signika:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
}
$btn-color:#0065ff;
$font-color:#1560d0;
$blacky-font:#0b2043;
// font-family
// font-family: 'Arimo', sans-serif;
// font-family: 'signika', sans-serif;

a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
body{
    position: relative;
    // overflow-x: hidden;

}
.container{
    max-width: 1300px;
    margin-inline: auto;
    padding-left: 1em;
}
.navbar{
    background: #ffffff;
    color: black;
    // position: fixed;

    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 2px solid ;
        padding-block: 1em;

        .logo-list{
            display: flex;
            align-items: center;
        }
        .logo-list .logo{
            display: flex;

            // border: 2px solid black;
            span{
                // margin-left: .5em;
                display: block;

                &:nth-child(1){
                    color: $font-color;
                    font-size: .8em;
                    font-weight: 400;
                    font-family: 'signika', sans-serif;
                }
                &:nth-child(2){
                    line-height: 1em;
                    font-weight: 700;
                    font-size: 1.7em;
                    font-family: 'Signika', sans-serif;
                }
            }

            img{
                // border: 2px solid black;
                align-self: flex-end;
                margin-right: .5em;
                width: 25px;
                height: 25px;
            }
        }
    }
    .list-items{
        margin: auto;
        text-align: center;
        // border: 2px solid black;
        display: none;
        padding-left: 1em;
    }
    ul li{
        font-weight: 300;
        font-family: 'Arimo';
        display: inline-block;
        // display: none;
        margin-inline: 1em;

        &:hover{
            color: $btn-color;
        }
    }
    .login{
        display: none;
        font-size: 1.2em;
        font-family: 'Arimo';

        .get-in{
            color: #ffffff;
            padding-block: 1.39em;
            padding-inline: 1em;
            background: $btn-color;
        }

        a{
            margin-left: 1em;
        }
    }
}


#showcase{
    position: relative;
    background-image: linear-gradient(to right, #7145aa,#da4eb3);

    .wave-bg{
        position: absolute;
        width: 100%;
        height:100px;
        z-index: 1;
        bottom:0;
    }
}


// showcase
.showcase-bg{
    max-width: 1200px;
    margin: auto;
    // border: 2px solid;
    // background-image: linear-gradient(to right, #7145aa,#da4eb3);
    // height: 70vh;
    .main-contain{
        margin-inline: 1.5em;
        // max-width: 1200px;
    }
    .contain-flex{
        display: flex;
        flex-direction: column;
        // border: 4px solid ;
        justify-content: space-between;
        align-items: center;
    }
}
.contain-1{

    .hero-1{

        // border: 2px solid black;
        padding-top: 3em;
        margin: auto;
        text-align: center;
        color: #ffffff;
        h2{
                font-weight: 600;
                font-family: 'signika',sans-serif;
        }
        p{
            margin: auto;
            padding-top: 1em;
            font-family: 'Arimo', sans-serif;
        }
    }
    .hero-2{
        text-align: center;
        color: #ffffff;
        font-family:'Arimo', sans-serif ;
        padding-block: 2em;
        .padding{
            // border: 2px solid red;
            display: flex; 
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            // border: 2px solid red;
            // background: $btn-color;
        }
        .li{
            padding-top: 1em;

            a{
                font-family: 'Arimo';
            }

            i{
                margin-left: .7em;
            }
        }

        .textarea-top{
            // width: 100%;
            display: none;
            // padding-block: 1em;
            textarea{
                // width: 100%;
                padding: 1em 7em 0em .5em;
                // padding-block: 1em;
                outline: none;
                resize: none;
                border-radius: 5px;
                font-size: 1em;
                font-family: 'Arimo';
                // border: 2px solid black;
            }
        }
        .sign-btn{
            // margin-bottom: 1em;
            max-width:100% ;
            padding-block: 1em;
            padding-inline: auto;
            // margin: auto;
            font-family: 'Arimo';
            // border: 2px solid red;
            background: $btn-color;
            border-radius: 7px;
            text-align: center;
            font-weight: 300;
            font-family: 'Arimo';
            // border: 2px solid red;
            
            a{
                width: auto;
                // padding: 0em 1em 2em;
            }
        }
    }  
}
.contain-2{
    margin: auto;
    // border: 2px solid blue;
    // padding-top: 7em;

    img{
        // padding-top: 8em;
        // border: 2px solid black;
        width: 100%;
        // margin: auto;
        // border: 2px solid rgb(23, 10, 10);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        height: auto;
        top: 50px;
        z-index: 2;
    }
}
.note-area{
    background: linear-gradient(to bottom, (#ffffff), (#f5fdff));
    // border: 2px solid black;
    margin-inline: 1em;
    padding-top: 3em;
    .notes-head{
        span{
            // padding-block: 1em;
            font-weight: 500;
            font-family:'Arimo', sans-serif ;
        }
        h3{
            line-height: 1em;
            padding-block: .5em;
            // font-weight: 400;
            // font-size: 1.5em;
            font-family: 'signika', sans-serif;
        }
        p{
            padding-bottom: 1rem;
            line-height: 1.3em;
            // font-size: 1.2em;
            font-weight: 400;
            font-family:'Arimo','sans-serif' ;
            
            span{
                text-decoration:underline 2px ;
            }
        }
        a{
            list-style:decimal-leading-zero;
            color: $font-color;
        }
        
    }
    .notes-flex{
        margin: 2em 1em;

    }

    .notes-border-1{
        .notes-flex-2, .notes-flex-3, .notes-flex-4{
            background: #ffffff;
            padding-block: 2em;
            margin-block: 1em;
            border-left: 10px solid #92dbee;
            border: 2px 2px 2px solid rgba($color: grey, $alpha: .2);
            border-radius: 6px;
            margin-inline: auto;
            // margin-right:1em ;

            h4{
                margin:0 0 .5em 1em;
            }
            p{
                margin-left: 1em;
            }
        }

        .notes-flex-3,.notes-flex-4{
            display: none;
        }
    }
}

.swiper-wrapper > div{
    margin-inline: 1em;
}

.swiper-slide > div{
    margin-inline: 1em;
}

.slider{
    .slider-head{
        margin-block: 1em;
        span{
            font-weight: 500;
            font-family:'Arimo', sans-serif ;
        }
        h3{
            padding-block: .5em;
            font-weight: 400;
            font-family: 'signika', sans-serif;
        }
    }
      .swiper {
        width: 100%;
        height: 100%;
        // border: 3px solid red;
      }


    }
    .slider-flex-1,.slider-flex-2,.slider-flex-3,.slider-flex-4,.slider-flex-5,.slider-flex-6{
        box-shadow: 1px 1px 1px 2px  rgb(156, 141, 141);
        border-radius: 10px;
        margin-bottom: 1em;
        // max-height: 400px;
    // border: 2px solid;
    &:hover{
        box-shadow: 2px 2px 2px 4px rgb(194, 182, 182);
    }
}
.slider-flex-1{
    // border: 2px solid;
    .background-1{
        height: 80px;
        background:linear-gradient(to right, #7145aa,#da4eb3) ;
        border-radius: 8px;
        // border: 2px solid black;
    }
    .slider-1-1{
        img{
            margin-top: .5em;
            width: 35px;
            height: 35px;
        }
    }
    .slider-1-2{
        h4{
            padding-block: .5em;
            font-family: 'signika', sans-serif;
        }
        span{
            margin-bottom: .5em;
            font-weight: 400;
            font-family: 'signika', sans-serif;
        }
        p{
            // padding-bottom: 2em;
            padding-block: 1em;
            font-weight: 400;
            font-family:'Arima','sans-serif';
        }
    }
}
.slider-flex-2{
    // border: 3px solid red;
    // min-width: 300px;
    // min-height: 300px;
    // height: 350px;
    .background-2{
        border-radius: 8px;
        height: 80px;
        background: linear-gradient(to right, rgb(213, 183, 183),rgb(242, 22, 22));
    }
    .slider-2-1{
        img{
            margin-top: .5em;
            width: 35px;
            height: 35px;
        }
    }
    .slider-2-2{
        h4{
            padding-block: .5em;
            font-weight: 700;
            font-family: 'signika', sans-serif;
        }
        span{
            padding-bottom: .5em;
            // font-weight: 400;
            font-family: 'signika', sans-serif;
        }
        p{
            padding-block: 1em;
            font-weight: 400;
            font-family:'Arima','sans-serif';
        }
        
    }
}
.slider-flex-3{
    // min-width: 300px;
    // min-height: 300px;
    // height: 350px;
    .background-3{
        border-radius: 8px;
        height: 80px;
        background: linear-gradient(to right,rgb(85, 82, 82),rgb(149, 149, 30));
    }
    .slider-3-1{
        img{
            margin-top: .5em;
            width: 35px;
            height: 35px;
        }
    }
    .slider-3-2{
        h4{
            padding-block: .5em;
            font-weight: 700;
            font-family: 'signika', sans-serif;
        }
        span{
            // padding-bottom: .5em;
            font-weight: 400;
            font-family: 'signika', sans-serif;
        }
        p{
            padding-block: 1em;
            font-weight: 400;
            font-family:'Arima','sans-serif';
        }
    }
}
.slider-flex-4{
    // min-width: 300px;
    // min-height: 300px;
    // height: 350px;
    .background-4{
        border-radius: 8px;
        height: 80px;
        background: linear-gradient(to right,rgb(147, 74, 74),rgb(120, 217, 114));
    }
    .slider-4-1{
        img{
            margin-top: .5em;
            width: 35px;
            height: 35px;
            // border-radius: 8px;
            // border: 6px solid gray;
        }
    }
    .slider-4-2{
        h4{
            padding-block: .5em;
            font-family: 'signika', sans-serif;
        }
        span{
            // padding-block: .5em;
            // font-weight: 400;
            font-family: 'signika', sans-serif;
        }
        p{
            padding-block: 1em;
            font-weight: 400;
            font-family:'Arima','sans-serif';
        }
    }
}
.slider-flex-5{
    // min-width: 300px;
    // min-height: 300px;
    // height: 350px;
    .background-5{
        border-radius: 8px;
        height: 80px;
        background: linear-gradient(to right,rgb(73, 51, 199),rgb(81, 25, 25));
    }
    .slider-5-1{
        img{
            margin-top: .5em;
            width: 35px;
            height: 35px;
            // border-radius: 8px;
            // border: 6px solid gray;
        }
    }
    .slider-5-2{
        h4{
            padding-block: .5em;
            font-weight: 700;
            font-family: 'signika', sans-serif;
        }
        span{
            font-weight: 400;
            font-family: 'signika', sans-serif;
        }
        p{
            padding-block: 1em;
            font-weight: 400;
            font-family:'Arima','sans-serif';
        }
    }
}
.slider-flex-6{
    // min-width: 300px;
    // min-height: 300px;
    // height: 350px;
    
    .background-6{
        border-radius: 8px;
        height: 80px;
        background: linear-gradient(to right,rgb(32, 187, 21),rgb(128, 49, 207));
    }
    .slider-6-1{
        img{
            margin-top: .5em;
            width: 35px;
            height: 35px;
            // border-radius: 8px;
            // border: 6px solid gray;
        }
    }
    .slider-6-2{
        p{
            padding-block: 1em;
            // font-weight: 400;
            font-family:'Arima','sans-serif';
        }
        span{
            // font-weight: 400;
            font-family: 'signika', sans-serif;
        }
        h4{
            font-family: 'signika', sans-serif;
            padding-block: .5em;
            font-weight: 700;
        }
    }
}





.swiper-slide img {
        // display: table-row;
        width: 100%;
        height: 100%;
        // object-fit: cover;
}
.bottom-swiper-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-block: 2em;
    margin-inline: 1em;
    // display: none;
    .swiper-note p{
        margin-bottom: 1em;
        max-width: 700px;
        // color: blue;
        font-weight: 500;
        font-family: 'Arima', sans-serif;
    }
    .swiper-btn{
        margin-right: auto;

        a button{
            background: #ffffff;
            border-radius: 5px;
            border: 1px solid rgb(44, 44, 206);
            padding: 1em;
            font-weight: 400;
            font-family:'Arima','sans-serif';
            &:hover{
                background: rgb(186, 212, 228);
            }
        }
    }
}
.trello-view{
    
    .trello-color{
        background:linear-gradient(to right,#0079f6,#00b6da);
    }


    .border-img{
        display: none;
        width: 50px;
    }

    .head-trello{
        text-align: center;
        padding-block: 2em;
        margin-inline: 1em;
        h2{

            // font-weight: 600;
            font-family: 'Arimo';
        }
        p{
            padding-block: 1em;
            font-family: 'Arima','sans-serif';
        }
        button{
            margin-top: 1em;
            font-size: 1em;
            font-family: 'Arimo';
            background: #ffffff;
            padding: 1em;
            border-radius: 5px;
            border: 1px solid rgb(44, 44, 206) ;
            &:hover{
                background: rgb(157, 198, 223);
            }
        }
    }
    .dead-line-flex-1, .dead-line-flex-2{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .dead-line{
        margin-inline: 1em;
        
        .dead-line-flex-1,.dead-line-flex-2{
            box-shadow: 2px 2px 2px 2px grey;
            border-radius: 5px;
            background: #ffffff;
            padding: 1em;
            display: flex;
            margin: auto;

            .dead-img{
                width: 100%;
                margin-bottom: 1.5em;
            }

            .dead-para{
                h5{
                    font-family: 'Arimo';
                    margin-bottom: 1em;
                }

                p{
                    font-weight: 400;
                    font-family: 'Arimo';
                    line-height: 1.2em;
                    margin-bottom: 1.5em;
                }

                a{
                    color: #0079f6;
                    text-decoration: underline 2px solid #0079f6;
                }
            }
        }
        
        .dead-line-flex-2{
            position: relative;
            width: 100%;
            height: auto;
            top: 100px;
            z-index: 2;
        }

    .wave-bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 400px;
        z-index: 1;
        // top: 0;
        
        
    }
    
}
}
.showcase-trello-3{
    background: #ffffff;
    // border: 2px solid black;
    margin-inline:1em;

    .heading-showcase{
        padding-block: 1em;
        h5{
            margin: 1em 0 .5em 0;
            font-size: 1em;
            font-family:'Arimo','sans-serif';
        }
        h3{
            padding-bottom: .7em;
            font-size: 1.7em;
            font-family: 'Signika';
        }
        p{
            max-width: 600px;
            font-size: 1.2em;
            font-weight: 400;
            font-family: 'Arimo';
        }
    }
    .showcase-flex{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        .showcase-flex-1,.showcase-flex-2,.showcase-flex-3{
            background: #edeff0;
            padding: 1em;
            border-radius: 4px;
            img{
                padding-bottom: 1em;
                width: 100px;
            }
            h5{
                padding-bottom: .6em;
                font-family: 'Signika';
            }
            p{
                margin-bottom: 1em;
                font-family: 'Arimo';
            }
            button{
                background: #ffffff;
                border-radius: 5px;
                border: 1px solid rgb(44, 44, 206);
                padding: 1em;
                font-weight: 400;
                font-family:'Arima','sans-serif';
                &:hover{
                    background: rgb(118, 191, 236);
                } 
            }

        }
    }
}

.swiper-3{
    background: linear-gradient(to bottom ,#ffffff,#ebfcff,#ffffff);
    margin-inline: auto;
    .swiper-4{
        margin-inline: 1em;
        margin-block: 2em;
        .swiper-slide-1 > div{
            margin-inline: 1em;
            border: 2px solid rgba($color: grey, $alpha: .6);
            border-radius: 10px;
        }
        .swiper-slide-border{
            display: flex;
            flex-direction: column;
            
            .swiper-flex-1{
                padding-inline: 1em;
                h6{
                    padding-block: 1em;
                    font-family: 'Signika';
                    font-size: 1.3em;
                }
                span{
                    width: 30%;
                    // border: 2px solid;
                    font-size: .8em;
                    
                }
                img{
                    padding-top: 1em;
                    width: 150px;
                    margin: auto;
                }
                a{
                    line-height: 4em;
                    color: #0079f6;
                    text-decoration: underline 2px solid #0079f6;
                }
            }
            .swiper-flex-2{
                background: linear-gradient(to right, #7a5ec4,#e793d8);
                color: #ffffff;
                padding: 1em;
                border-radius: 5px;
                h6{
                    padding-top: 1em;
                    font-size: 1.3em;
                    font-family: 'Signika';
                }
                a{  
                    line-height: 3em;
                    // padding-block: 2em;
                    font-family: 'Arimo';
                }
                .padding{
                    padding-bottom: 3.5em;
                }
                
            }
        }
    }
    .swiper-foot{
        text-align: center;
        padding-inline: 1em;
        h2{
            font-family: 'Arimo';
            font-size: 1.5em;
            padding-block: 1em;
            // text-align: center;
        }
        p{
            padding-bottom: 1em;
            font-family: 'Arimo';
            font-size: 1.2em;
        }
        button{
            border: .1px solid $btn-color;
            font-size: 1em;
            border-radius: 7px;
            font-family: 'Arimo';
            padding: 1em;
            background: $btn-color;
            color: #ffffff;

            &:hover{
                transition: .3s;
                color: black;
                background: rgb(103, 103, 239);
            }
        } 
    }
}

.plans{
    padding-block: 2em;
    .plans-flex > div{
        // min-height: 300px;
        border: 1px solid rgb(206, 200, 200);
        // min-width: 300px;
        // gap: 1em;
        padding: 1em 1em;
        background: #ffffff;
        // min-width: 80px;
        // max-width: 500px;
        border-radius: 4px;
        // margin: auto;
        margin-block: 1em;
        // align-items: center;
        
    }
    .plans-flex{
        // width: min-max(300px,600px);
        margin: auto;
        overflow-x: hidden;
        margin-inline: 1em;
        // border: 4px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // display: ;
        .plan-3{
            border: 2px solid rgb(21, 216, 255);
        }
        .plan-1{
            padding-bottom: 3em;
        }
        
        .head{
            padding-block: 1em;
            font-size: 1em;
            font-family: 'Arimo';
        }
        .plan-span{
            padding-bottom: .5em;
            font-size: 1em;
            font-family: 'Arimo';
        }
        .span{
            font-family: 'Arimo';
            font-size: 2em;
        }
        .plan-small{
            margin-bottom: 1em;
            font-size: .8em;
            font-family: 'Arimo';
        }
        .plan-para{
            font-weight: 600;
            font-size: 1.2em;
            font-family: 'Arimo';
            padding-bottom: 2em;
        }
        .plan-btn{
            padding-block: 1em;
            border: 1px solid #0065ff;
            padding: .8em;
            border-radius: 5px;
            width:100px;
            min-width: 40%;
            max-width: 100%;
            // margin-block: 1em;
            // margin-block:2em ;

            &:hover{
                transition: .5s;
                background: #bcc9dc;
            }
        }
        .plan-line p{
            padding-block: 2em;
            text-decoration: underline 2px solid #0079f6;
        }
    }
}
.swiper-company{
    margin-inline: 1em;
    padding-bottom: 2em;
    background: #ffffff;
    // max-width: 1200px;
    text-align: center;
    
    h3{
        font-weight: 600;
        font-family: 'Arimo';
        font-size: 1.3em;
        padding-bottom: 1em;
    }
    
    
}

.mobile-view{
    display: content;
    max-width: 300px;
}
.moniter-view{
    display: none;
}
.swiper-last{
    background: linear-gradient(to right,#6f3eed,#a28d9f);
    // background: url(image/ViewsBackground_Left_Narrow.svg);
    padding-block: 2em;
    text-align: center;
    img{
        display: none;
    }
    &:nth-child(1){
        width: 50px;
    }
    &:nth-child(2){
        width: 50px;
    }
    h3{
        // font-size: 1.5em;
        font-family: 'Arimo';
        color:#ffffff;
    }
    .btn-container{
        // border: 2px solid red;
        max-width: 700px;
        margin-inline: auto;
        margin-top: 2em;
        gap: 1em;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .textarea{
            display: none;
            // border: 2px solid red;
            
            textarea{
                width: 100%;
                // height: 59px;
                border-radius: 5px;
                padding:1.7em 14em .5em .5em;
                outline: none;
                resize: none;
                
                // align-items: center;
                // text-align: center;
    
            }
        }
    }
    .btn-foot-1{
        // border: 2px solid red;
        text-align: center;
        margin-inline: 1em;
        background:#0065ff;
        padding-block: 1em;
        border-radius: 5px;
        font-family: 'Arimo';

        .btn-foot-1-1{
            color: #ffffff;
            font-size: 1em;
            padding: 0em 1em 2em;
            font-family: 'Arimo';
            margin-inline: auto;
            
        }
    }
    
}

.footer{
    // display: flex;
    // display: inline-block;
    // border: 2px solid;
    // max-width: 1200px;
    // margin: auto;
    padding-inline: 1em;
    
    background: #172b4d;
    color: #ffffff;
    padding-block: 1em;
    .footer-flex-1{
        // display: flex;
        // border: 2px solid ;
        // display: inline-block;

        .footer-flex-1-1{
            display: flex;
            flex-direction: row;
            // border: 2px solid ;
            // border: 2p;
            margin-bottom: 1em;
            gap: .5em;
            .img{
                margin-top: 1em;
                // border: 2px solid;
                width: 30px;
                height: 30px;
                // margin-block: auto;
            }
            span{
                display: block;
            }

            .signika{
                font-weight: 400;
                font-size: 1em;
                font-family: 'Arimo';
            }
            .arimo{
                font-size: 1.5em;
                font-weight: 700;
                font-family: 'Signika';
            }  
        }
        .footer-flex-1-2{
            ul > li{
                border-block: 1px solid rgba($color:grey,$alpha:.5);
                padding-block: .5em;
                margin-block:1em ;
            }
            h3{
                // margin-block:.5em;
                margin-block: .4em;
                font-size: .99em;
                font-family: 'Arimo';
            }
            p{
                // display: flex;
                font-weight: 400;
                font-size: .8em;
                // display: flex;
                // border: 2px solid ;
                padding-block: .5em;
            }
        }
        
    }
    .footer-flex-2{

        .footer-flex-2-1{
            margin-block:1em ;
            // border: 2px solid;
            p{
                margin-block: 1em;
                font-size: 1em;
                font-family: 'Arimo';
            }

            i{
                margin-right: 1em;
            }

            ul li{
                margin-block: 1em;
                font-family: 'Arimo';
                font-size: .99em;
            }
        }

        .footer-flex-2-2 {
            margin-block: 2em;
            i{
                border: 2px solid ;
                padding: .3em;
                border-radius: 50px;
    
                // gap: 1em;
                margin-inline-end:1em ;
            }
        }
    }
    .end-footer{
        text-align: center;
        h3{
            font-size: 1.5em;
            font-family: 'Signika';
        }
    }
}


@media (min-width:568px){
    .swiper-wrapper > div{
        max-width: 400px;
        max-height: 400px;
        // border: 2px solid red;
    }

    .dead-line > div {
        max-width: 500px;
        margin: auto;
    }

    .showcase-flex > div {
        max-width: 500px;
        margin: auto;
    }

    .swiper-slide-1{
        // border: 2px solid red;
        max-width: 500px;
        // max-height: 1100px;
    }

    .heading-showcase,.head-trello,.contain-1,.notes-head,.notes-flex,.slider-head,.bottom-swiper-flex,.plans,.swiper-company,.swiper-last h2,.btn-foot,.footer-flex-1,.footer-flex-2{
        max-width: 500px;
        margin: auto;
    }
}

@media (min-width:768px){

    h2{
        font-size: 2.5em;
        font-family: 'Signika';
    }

    h3{
        font-size: 1.7em;
        font-family: 'Signika';
    }

    h4{
        font-size: 1.3em;
        font-family: 'Arimo';
    }
    p{
        font-size: 1.3em;
        font-family: 'Arimo';
    }

    a{
        font-family: 'Arimo';
        font-size: 1em;
    }
    .small-font{
        font-size: 1em;
    }
    .contain-1 .hero-1 h2{
        width: 600px;
        margin: auto;
    }

    .heading-showcase,.head-trello,.contain-1,.notes-head,.notes-flex,.slider-head,.bottom-swiper-flex,.plans,.swiper-company,.swiper-last h2,.footer-flex-1,.footer-flex-2{
        max-width: 700px;
        margin: auto;
    }
    
    .swiper-wrapper > div{
        max-width: 600px;
        max-height: 300px;
        // border: 2px solid red;
    }

    .dead-line > div {
        max-width: 700px;
        margin: auto;
    }
    .showcase-flex > div {
        max-width: 300px;
        margin: auto;
    }

    .showcase-flex{
        max-width: 700px;
        margin: auto;
    }
    .mobile-view{
        max-width: 300px;
        display: none;
    }
    .moniter-view{
        padding-block: 1em;
        // border: 2px solid blue;
        display: inline;
    }
    
    .swiper-last{

        .btn-container{
                flex-direction: row;
    
                .textarea{
                    display: inline;
                }
            }
    }

    .contain-1{
        .hero-2{
            .sign-btn{
                padding-inline: 2em;
            }
            .padding{
                flex-direction: row;
            }
            .textarea-top{
                display: inline;
            }
        }
    }
       
}

@media (min-width:1024px){

    h2{
        font-size: 3em;
        font-family: 'Signika';
    }

    h3{
        font-size: 2em;
        font-family: 'Signika';
    }

    h4{
        font-size: 1.5em;
        font-family: 'Arimo';
    }
    p{
        font-size: 1.5em;
        font-family: 'Arimo';
    }

    a{
        font-family: 'Arimo';
        font-size: 1em;
    }
    .small-font{
        font-size: 1em;
    }
    
    .swiper-wrapper > div{
        max-width: 430px;
        max-height: auto;
        margin-inline: .5em;
        scroll-behavior: auto;
        overflow: hidden;
        // border: 2px solid red;
    }
    .contain-1{
        max-width: 500px;
        // border: 2px solid red;
        
        .hero-1{
            // margin-left: 1em;
            // border: 2px solid black;
            // margin: 1px;
            padding-top: 0em;
            text-align: start;
        }
        
        .hero-1 h2{
            text-align: start;
        }

        .hero-1 p{
            padding-top: 0em;
            // width: 500px;
            text-align: start;
        }

        .hero-2 {

            .padding{
                // border: 1px solid red;
                gap: 0em;
            }
            .sign-btn{
                margin-inline: auto;
            }
            // border: 2px solid red;
            .textarea-top{
                margin-right: auto;
                // border: 2px solid red;
                // margin: auto;
                textarea{
                    padding: 1em 3em 0em .5em;
                }
            }
           .li{
               text-align: start;
               
               a{
                    font-family: 'Arimo';
                    font-size: 1em;
                    // border: 2px solid red;
                    text-decoration: underline 2px solid  rgb(225, 209, 209);
                    color: rgb(225, 209, 209);
                    // margin-left: 1.3em;
                }

                
           } 
        }
    }
    .navbar{
        .list-items{
            display: inline;
        }
        .login{
            display: inline;
        }
    }

    .contain-2{
        img{
            // top: 100px;
            bottom: 20px;
        }
    }
    #showcase{
        .wave-bg{
            height: 50px;
        }
    }
    .showcase-bg{
        .contain-flex{
            padding-block: 2em;
            flex-direction: row;
        }
    }

    .note-area{
        max-width: 1200px;
        .notes-head{
            width: 700px;
            margin: 2em;
        }

        .notes-flex{
            max-width: 1200px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: 0em;
            width: 100%;
            
            .notes-flex-1{
                width: 60%;
                margin: auto;
                
            }
            
            .notes-border-1{
                // border: 2px solid red;
                width: 35%;
                height: 15%;
                margin: 0em;
                h4{
                    font-family: 'Arimo';
                    margin-left: 1em;
                    font-size: 1em;
                    margin-bottom: .5em;
                }
                p{
                    font-family: 'Arimo';
                    margin-left: 1em;
                    font-size: 1em;
                }
                .notes-flex-3,.notes-flex-4{
                    display: block;
                }
            }
        }
    }

    .slider-head{
        max-width: 1200px;
        // margin: auto;
        // border: 2px solid blue;
    }
    // .slider-logo{
    // }

    .bottom-swiper-flex{
        max-width: 1200px;
        margin-inline: auto;
        flex-direction: row;
        border: 2px solid red;

        .swiper-note{
            p{
                
                font-size: 1.3em;
                font-family: 'Arimo';
            }
        }

        .swiper-btn{
            margin-left: auto;
            margin-right: 0;
            font-family: 'Arimo';
        }
    }

    .trello-view{
        .dead-line-flex-1,.dead-line-flex-2{
            flex-direction: row;
        }
        .dead-line-flex-2{
            flex-direction: row-reverse;
        }
    }
    .showcase-trello-3{
        // margin: 0;
        margin-inline: 1em;
        .showcase-flex{
            max-width: 940px;
            margin-inline: 1em;
            width: auto;
            height: auto;
            border: 2px solid red;
            .showcase-flex-1{
                padding-block: 1.2em;
            }
            .showcase-flex-3{
                padding-block: 1.5em;
            }
            
        }

        .showcase-flex > div{
            // border: 2px solid blue;
            min-width: 300px;
        }

        .heading-showcase{
            max-width: 1200px;
            margin-inline: 1em;
        }

        .showcase-flex{
            flex-wrap: nowrap;
            width: 100%;
        }
        
    }
    .plans{

        .plans-flex{
            flex-direction: column;
            display: contents;
        }
    }
}