// @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Bebas+Neue&family=Signika:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
img{
    width: 100%;
}
$btn-color:#0065ff;
$font-color:#1560d0;
$blacky-font:#0b2043;
// font-family
// font-family: 'Arimo', sans-serif;
// font-family: 'signika', sans-serif;

a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1em;
}
.navbar{
    background: #ffffff;
    color: black;
    // position: fixed;

    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 2px solid ;
        padding-block: 1em;

        .logo-list{
            display: flex;
            align-items: center;
        }
        .logo-list .logo{
            display: flex;
            // border: 2px solid black;
            span{
                // margin-left: .5em;
                display: block;

                &:nth-child(1){
                    color: $font-color;
                    font-size: .8em;
                    font-weight: 400;
                    font-family: 'signika', sans-serif;
                }
                &:nth-child(2){
                    line-height: 1em;
                    font-weight: 700;
                    font-size: 1.7em;
                    font-family: 'Signika', sans-serif;
                }
            }

            img{
                // border: 2px solid black;
                align-self: flex-end;
                margin-right: .5em;
                width: 25px;
                height: 25px;
            }
        }
    }
    ul li{
        display: inline-block;
        display: none;
    }
    .login{
        display: none;
    }
}

// showcase
.showcase-bg{
    background-image: linear-gradient(to right, #7145aa,#da4eb3);
    height: 70vh;
    .main-contain{
        margin-inline: 1.5em;
        max-width: 1200px;
    }
}
.hero-1{
    // border: 2px solid black;
    padding-top: 3em;
    margin: auto;
    text-align: center;
    color: #ffffff;
}
.hero-1 h2{
        font-weight: 600;
        font-family: 'signika',sans-serif;
}
.hero-1 p{
    margin: auto;
    padding-top: 1em;
    font-family: 'Arimo', sans-serif;
}
.hero-2{
    text-align: center;
    color: #ffffff;
    font-family:'Arimo', sans-serif ;
    padding-block: 2em;
}
.hero-2 ul li{
    &:nth-child(1){
        display: none;
    }
    &:nth-child(2){
        // text-align: center;
        border-radius:5px ;
        // border: 1px solid blue;
        background: $btn-color;
        padding: 1em;
        // margin-inline: 1em;
        font-weight: 500;
        // border: 2px solid black;
    }
    &:nth-child(3){
        padding-block: 1em;
        // border: 2px solid black;
        .fa-thin{
            margin-left: .5em;
        }
    }
}
.contain-2{
    // align-content: center;
    // border: 2px solid black;
    background-image: url(image/white-wave-bg.svg);
}
.contain-2 img{
    &:nth-child(1){
        margin: auto;
        // width: 100%;
        // border: 2px solid rgb(23, 10, 10);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // padding-bottom: 2em;
    }
}
.note-area{
    // border: 2px solid black;
    padding-top: 5em;
    .notes-head{
        span{
            // padding-block: 1em;
            font-weight: 500;
            font-family:'Arimo', sans-serif ;
        }
        h2{
            padding-block: .5em;
            font-weight: 400;
            font-family: 'signika', sans-serif;
        }
        p{
            padding-bottom: 1rem;
            // line-height: 2em;
            font-weight: 400;
            font-family:'Arimo','sans-serif' ;
        }
        a{
            list-style:decimal-leading-zero;
            color: $font-color;
        }

    }
}
